.navbar {
  display: flex;
  justify-content: space-between;
  color: white;
  .avatar {
    display: flex;
    align-items: center;
    gap: 0.8vw;
    img {
      height: 8vh;
      border-radius: 2rem;
    }
    .info {
      .status {
        color: #80b918;
      }
    }
  }
  .quick {
    button {
      border-radius: 2vw;
      padding: 2vh 6vw;
      display: flex;
      gap: 1vw;
      background-color: transparent;
      color: white;
      border: 2px solid white;
      cursor: pointer;
      font-weight: 900;
      transition: 0.4s ease-in-out;
      svg {
        font-size: larger;
      }
      &:hover {
        background-color: #c70f61;
        color: white;
      }
    }
  }
  .navbar__info {
    display: flex;
    align-items: center;
    gap: 1.4vw;

    .search__bar {
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 2vw;
      padding: 0 1vw;
      input {
        height: 5vh;
        width: 15vw;
        padding: 1vw;
        border: none;
        &:focus {
          outline: none;
        }
      }
      svg {
        color: #c70f61;
      }
    }
  }
}
